PyInstaller
pylsl
opencv_python @ https://raw.githubusercontent.com/wiki/pupil-labs/pupil/wheels/bundle_opencv_no_ffmpeg/opencv_python-4.6.0.66-cp36-abi3-macosx_10_15_x86_64.whl ; platform_system == "Darwin"
