# CPyhton backports
typing_extensions>=4.1.0

dataclasses ; python_version<"3.7"

# Third-party
av
click
glfw>=2.0.0
msgpack>=1.0.0
numexpr
numpy>=1.20.0
opencv-python
packaging>=20.0,<22
psutil
pyopengl
pyzmq
rich
scikit-learn
scipy
sounddevice
zeromq-pyre>=0.3.4  # Gracefully handle https://github.com/pupil-labs/pupil/issues/2174

cysignals ; platform_system != "Windows"
win_inet_pton ; platform_system == "Windows"

# Pupil-Labs
ndsi==1.4.*
pupil-apriltags==1.0.*
pupil-detectors>=2.0.2rc2
pupil-labs-uvc
pye3d>=0.3.2
pyglui>=1.31.1b1
